<div class="form-group">
  <label for="description" class="col-sm-12 control-label">Email</label>
  <div class="col-sm-12">
    <label ng-model="vm.data.Email"></label>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-12 control-label">First Name</label>
  <div class="col-sm-12">
    <input type="text" ng-model="vm.data.FirstName" class="form-control" placeholder="First Name Here"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-12 control-label">Last Name</label>
  <div class="col-sm-12">
    <input type="text" ng-model="vm.data.LastName" class="form-control" placeholder="Last Name Here"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-12 control-label">Phone</label>
  <div class="col-sm-12">
    <input type="text" ng-model="vm.data.Phone" class="form-control" placeholder="Phone Here"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-12 control-label">Company</label>
  <div class="col-sm-12">
    <input type="text" ng-model="vm.data.Company" class="form-control" placeholder="Company Here"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-12 control-label">Position</label>
  <div class="col-sm-12">
    <input type="text" ng-model="vm.data.Position" class="form-control" placeholder="Position Here"/>
  </div>
</div>
<div class="form-group">
  <label for="bodyText" class="col-sm-12 control-label">Coaching Experience</label>
  <div class="col-sm-12">
    <text-angular ng-model="vm.data.CoachingExperience" placeholder="Coaching Experience Here"></text-angular>
  </div>
</div>
<div class="form-group">
  <label for="bodyText" class="col-sm-12 control-label">Work Experience</label>
  <div class="col-sm-12">
    <text-angular ng-model="vm.data.WorkExperience" placeholder="Work Experience Here"></text-angular>
  </div>
</div>