<div class="form-group">
  <label for="name" class="col-sm-2 control-label">First Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="vm.data.FirstName" class="form-control" name="firstName" required="" />
    <span class="half-margin-top form-error-message" ng-hide="form.firstName.$valid || form.firstName.$pristine">A First Name is required</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="vm.data.LastName" class="form-control" name="lastName" required="" />
    <span class="half-margin-top form-error-message" ng-hide="form.lastName.$valid || form.lastName.$pristine">A Last Name is required</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="text" ng-model="vm.data.Email" class="form-control" name="email" required="" />
    <span class="half-margin-top form-error-message" ng-hide="form.email.$valid || form.email.$pristine">An Email Address is required</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Timezone</label>
  <div class="col-sm-10">
    <timezone-selector ng-model="vm.data.Timezone">
    <span class="half-margin-top form-error-message" ng-hide="form.timezone.$valid || form.timezone.$pristine">A Timezone is required</span>
  </div>
</div>
