
html { height: auto; position: relative; background-color: #fafafa; }
body { color: #555; font-size: 14px; position:static; margin-bottom: 84px; }
a:focus, a:hover { text-decoration: none; }
h1, .h1 { font-size: 21px; line-height: 24px;  margin-top: 24px; margin-bottom: 12px; }
.footer .logo { max-width: 50px; vertical-align: bottom; }
.footer p { font-size: 11px; line-height: 18px; font-style: italic; margin: 10px 0; color: #aaa; /*font-family: myriad pro, arial, roboto, sans-serif;*/ }
.footer p a:hover { color: #aaa; }
.btn { font-size: 14px; }
/*.btn:focus, .btn:active { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 5px 1px rgba(0, 0, 0, 0.15); }*/
hr { border-top: 1px solid #e0e0e0; }
.icon-large { font-size: 180%; }
p.large { font-size: 120%; }

[ng-click], [data-ng-click], [x-ng-click] { cursor: pointer; }

.lighter { opacity: 0.6; }
.no-border { border: none; }
.small-margin { margin-top: 8px;  margin-bottom: 8px; }
.margin-bottom-1 { margin-bottom: 1px; }
.padding-right {padding-right: 8px;}

.image-container-sm img { width: 100%; }
.nav { font-size: 16px; }
.header { background-color: #444; }
.header.fixed, .header.open, .menu-open .header { background-color: #555; }
.header .nav > li > a .header-close:after { background-color: #7a7979; }
.menu-open .icon-menu { opacity: 0; }
.menu-open .header .nav > li > a .header-close { opacity: 1; transform: rotate(0deg); }
.menu-open .header .nav > li > a .header-close:after { transform: scale(1);}
.heading-right { position: absolute; right: 16px; bottom: 0; }
.heading-right .btn { color: rgba(255,255,255,0.8); }
.heading-right .btn:hover { background-color: rgba(255,255,255,0.2); color: #fff; }
.heading-right .btn:focus { background:none; }
.content-heading .container { position: relative; }
.grey-bg { background-color: #777; }
.card-title { border-radius: 2px 2px 0 0; }
.card-title .card-heading { margin-top: 0px; margin-bottom: 0px; padding-top: 14px; padding-bottom: 14px; color: #fff; }
.card-title .card-heading .icon-chevron-right { line-height: 28px; }
.card-title .small { font-size: 75%; font-weight: 300; }
.border-radius { border-radius: 2px 2px 2px 2px; }
.dashboard-buttons a.card-button:hover .card-title { transition: background-color 0.3s ease; }
.yourcoach-bg { background-color: #ee0e52; }
.dashboard-buttons a:hover .yourcoach-bg { background-color: #F42967; }
.sessions-bg { background-color: #39bee7; }
.learning-plan-bg { background-color: #f68a1e; }
.dashboard-buttons a:hover .learning-plan-bg { background-color: #F79A3D; }
.assignments-bg { background-color: #fbc111; }
.dashboard-buttons a:hover .assignments-bg { background-color: #FAC627; }
.resources-bg { background-color: #1283bc; }
.dashboard-buttons a:hover .resources-bg { background-color: #278FC3; }
.uploads-bg { background-color: #becd12; }
.dashboard-buttons a:hover .uploads-bg { background-color: #C7D523; }
.surveys-bg { background-color: #dd1384; }
.dashboard-buttons a:hover .surveys-bg { background-color: #E42C93; }
.help-bg { background-color: #333; }
.card-button { color: inherit !important; }
.no-touch .card-button:hover { text-decoration: none; }
.no-touch .card-button:hover .card { opacity: 0.9; }
.sub-header p, .sub-header h2 { margin-bottom: 0; }
.sub-header { margin-bottom: -12px; }
.btn-small { font-size: 14px; padding: 4px 10px; }
.btn-darkblue { background-color: #0E6D8B; color: #fff; }
.btn-darkblue:hover, .btn-darkblue:focus, .btn-darkblue:active { color: #fff; }
.margin-right-small { margin-right: 8px; }
.half-margin-top { margin-top: 12px; }

.sub-header .content-sub-heading { font-size: 14px; margin-top: 9px;  }
.card-wrap { margin-top: 16px; }
.card { margin-bottom: 16px; }
.card-action .nav { font-size: 14px; }

.yourcoach-bg .card-heading .small { display: block; padding-left: 24px; }

.LoginController { height: 100%; background-color: #fff; }
.LoginController body { height: 100%; margin-bottom: 0 !important; display: table; width: 100%; }
.LoginController .outer { display: table-cell; vertical-align: middle; }
.LoginController nav.menu { display: none; }
.login-logo img { max-width: 150px; }

.content-text-area h1 { font-size: 21px; line-height: 100%; margin-top: 34px; }
.content-text-area h2 { font-size: 19px; line-height: 100%; margin-top: 34px;  }
.content-text-area h3 { font-size: 16px; line-height: 100%; margin-top: 34px; margin-bottom: 5px;  }
.content-text-area p { margin-top: 14px; margin-bottom: 14px;  }
.lightgrey-bg { background-color: #f3f3f3;}
.content-section-heading { font-size: 21px; font-weight: normal; border-bottom: 1px solid #eee; margin: 24px 0 24px; padding-bottom: 12px; }

.upload-area { display: inline-block; }
.dragover { background-color: #1B6AA9; }
.dragover .icon-file-upload { display:none; }
.dragover .icon-add-circle { display:inline-block !important; }
.dragover-err { background-color: #ff0000; }

.panel { background-color: #eee; padding: 0px 24px; position: relative; }
.info-panel { padding: 0px 24px 0 58px; }
.info-panel .large-icon { position: absolute; top: 24px; left: 24px; font-size: 24px; }
 

.session-list-item { padding-top: 24px;  padding-bottom: 24px; border-top: 1px solid #e0e0e0; }
.user-list-item { padding-top: 12px;  padding-bottom: 12px; border-top: 1px solid #e0e0e0; }
.session-list-item:first-of-type, .user-list-item:first-of-type { border-top: none; }
.session-list-item h3 { font-size: 16px; line-height: 24px; margin: 0; padding: 0; }

::-webkit-input-placeholder {
   color: #9e9e9e !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #9e9e9e !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9e9e9e !important;  
}

:-ms-input-placeholder {  
   color: #9e9e9e !important;  
}

.form-control { box-shadow: none; }
.form-control:focus { box-shadow: none; }
.ta-text { border: 1px solid #ddd; }
.ta-text h1 { font-size: 25px; line-height: 30px; }
.ta-text h2 { font-size: 19px; line-height: 24px; }
.ta-text h3 { font-size: 16px; line-height: 20px; }
.ta-toolbar .btn { box-shadow: none; border: 1px solid #ddd; }
.form-error-message { color: #ff0000; }
label.wide { width: 100%; }
.hide-placeholders ::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 0;
}
.hide-placeholders :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity: 0;
}
.hide-placeholders ::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity: 0;
}
.hide-placeholders :-ms-input-placeholder { /* Internet Explorer 10+ */
   opacity: 0;
}


/* .content-sub-heading { margin-top: 21px; }*/


/* medium & above */
@media only screen and (max-width: 480px) {
.heading-col { width: 100% !important; }
.heading-col .pull-right { float: none !important;}
.heading-col:nth-of-type(2) .card-heading { padding-top: 0;}
}

/* medium & above */
@media only screen and (min-width: 480px) {
    .image-container-sm img { width: auto; }
    .login-logo img { max-width: none; margin-top: 30px;}
    h1, .h1 { font-size: 32px; line-height: 48px; margin-top: 48px; margin-bottom: 24px;}
    .btn { font-size: 16px; }
    .btn-small { font-size: 14px; padding: 4px 10px; }

.card-title .card-heading { padding-top: 24px; padding-bottom: 24px; font-size: 24px; }

  .sub-header .content-sub-heading { font-size: 16px; margin-top: 21px;}

  .sub-header { margin-bottom: 0; }

  .card-wrap { margin-top: 24px; }
  .card { margin-bottom: 24px; }

	.yourcoach-bg .card-heading .small { display: inline-block;  padding-left: 0px;  }
	.container { padding: 0 32px; }
}


/* medium & above */
@media only screen and (min-width: 768px) {
	.list-items > .list-item:nth-of-type(2n+1) {  clear: both; }
	.list-items > .list-item:nth-of-type(3n+1) {  clear: none; }
}

/* large & above */
@media only screen and (min-width: 992px) {
.LoginController body { background: url(/images/login-bg.jpg) no-repeat #fff; background-size: 70% auto; background-position:  bottom right; }
	.container {
		max-width: 1400px;
	}

	.list-items > .list-item:nth-of-type(2n+1) {  clear: none; }
	.list-items > .list-item:nth-of-type(3n+1) {  clear: both; }
}

/* bootstrap overrides */
.container { width: 100%; }
a.menu-toggle:hover, .nav > li > a:hover, a.menu-toggle:focus, .nav > li > a:focus, a.menu-toggle:active, .nav > li > a:active { background: none; }
.modal-footer .btn + .btn { margin-right: 0; }
.modal-dialog { margin: 48px auto; }
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  border-top: 1px solid #ddd;
  border-bottom: 0;
}
.table td, .table th {
  border: 1px solid #e0e0e0;
  line-height: 24px !important;
  padding: 12px 16px 11px !important;
  vertical-align: top !important;
}

th.wide { width: 33%; }
th.center, td.center { text-align: center; }
table .buttons { padding: 6px !important; }

.loading-indicator #ngplus-overlay-container { position: fixed; width: 100%; top: 0; z-index: 5; background: rgba(255,255,255,0.7); height: 100%; }
.loading-indicator #ngplus-overlay-container .progress-circular { margin-top: 90px; }

.drop-box { background: #eee; padding: 15px; margin-bottom: 24px; }

/* Dialog overrides */
.ngdialog.ngdialog-theme-default .ngdialog-content { font-family: inherit; font-size: inherit; line-height: inherit; border-radius: 2px; /*width: 900px;*/ padding: 28px; }
.ngdialog .ngdialog-content .btn:focus, .ngdialog .ngdialog-content .btn { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 5px 1px rgba(0, 0, 0, 0.15); }
.ngdialog-buttons .btn { float: right; margin-left: 8px; }