
html { height: auto; position: relative; background-color: #fafafa; }
body { color: #555; font-size: 14px; position:static; margin-bottom: 84px; }
a:focus, a:hover { text-decoration: none; }
h1, .h1 { font-size: 30px; line-height: 30px; }
.footer .logo { max-width: 50px; }
.btn { font-size: 14px; }
hr { border-top: 1px solid #e0e0e0; }

[ng-click], [data-ng-click], [x-ng-click] { cursor: pointer; }

.lighter { opacity: 0.6; }
.no-border { border: none; }
.small-margin { margin-top: 8px;  margin-bottom: 8px; }
.margin-bottom-1 { margin-bottom: 1px; }

.image-container-sm img { width: 100%; }
.nav { font-size: 16px; }
.header { background-color: #444; }
.header.fixed, .header.open, .menu-open .header { background-color: #555; }
.header .nav > li > a .header-close:after { background-color: #7a7979; }
.menu-open .icon-menu { opacity: 0; }
.menu-open .header .nav > li > a .header-close { opacity: 1; transform: rotate(0deg); }
.menu-open .header .nav > li > a .header-close:after { transform: scale(1);}
.heading-right { position: absolute; right: 16px; bottom: 0; }
.heading-right .btn { color: rgba(255,255,255,0.8); }
.heading-right .btn:hover { background-color: rgba(255,255,255,0.2); color: #fff; }
.heading-right .btn:focus { background:none; }
.content-heading .container { position: relative; }
.grey-bg { background-color: #777; }
.card-title { border-radius: 2px 2px 0 0; }
.card-title .card-heading { margin-top: 0px; margin-bottom: 0px; padding-top: 24px; padding-bottom: 24px; color: #fff; }
.card-title .small { font-size: 75%; font-weight: 300; }
.border-radius { border-radius: 2px 2px 2px 2px; }
.yourcoach-bg { background-color: #ee0e52; }
.sessions-bg { background-color: #39bee7; }
.learning-plan-bg { background-color: #f68a1e; }
.assignments-bg { background-color: #fbc111; }
.resources-bg { background-color: #1283bc; }
.uploads-bg { background-color: #becd12; }
.surveys-bg { background-color: #dd1384; }
.help-bg { background-color: #333; }
.card-button { color: inherit !important; }
.no-touch .card-button:hover { text-decoration: none; }
.no-touch .card-button:hover .card { opacity: 0.9; }
.sub-header p, .sub-header h2 { margin-bottom: 0; }
.btn-small { font-size: 14px; padding: 4px 10px; }
.btn-darkblue { background-color: #0E6D8B; color: #fff; }
.btn-darkblue:hover, .btn-darkblue:focus, .btn-darkblue:active { color: #fff; }

.yourcoach-bg .card-heading .small { display: block; }

.LoginController { height: 100%; background-color: #fff; }
.LoginController body { height: 100%; margin-bottom: 0 !important; display: table; width: 100%; }
.LoginController .outer { display: table-cell; vertical-align: middle; }
.LoginController nav.menu { display: none; }
.login-logo img { max-width: 150px; }

.content-text-area h1 { font-size: 19px; line-height: 100%; margin-top: 34px; }
.content-text-area h2 { font-size: 16px; line-height: 100%; margin-top: 34px;  }
.lightgrey-bg { background-color: #f3f3f3;}
.content-section-heading { font-size: 21px; font-weight: normal; border-bottom: 1px solid #eee; margin: 24px 0 24px; padding-bottom: 12px; }


.session-list-item { padding-top: 24px;  padding-bottom: 24px; border-top: 1px solid #e0e0e0; }
.user-list-item { padding-top: 12px;  padding-bottom: 12px; border-top: 1px solid #e0e0e0; }
.session-list-item:first-of-type, .user-list-item:first-of-type { border-top: none; }

::-webkit-input-placeholder {
   color: #9e9e9e !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #9e9e9e !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9e9e9e !important;  
}

:-ms-input-placeholder {  
   color: #9e9e9e !important;  
}

.form-control { box-shadow: none; }
.form-control:focus { box-shadow: none; }
.ta-text { border: 1px solid #ddd; }
.ta-text h1 { font-size: 25px; line-height: 30px; }
.ta-text h2 { font-size: 19px; line-height: 24px; }
.ta-toolbar .btn { box-shadow: none; border: 1px solid #ddd; }
.form-error-message { color: #ff0000; }
label.wide { width: 100%; }
.hide-placeholders ::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 0;
}
.hide-placeholders :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity: 0;
}
.hide-placeholders ::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity: 0;
}
.hide-placeholders :-ms-input-placeholder { /* Internet Explorer 10+ */
   opacity: 0;
}


.content-sub-heading { margin-top: 21px; }

/* medium & above */
@media only screen and (min-width: 480px) {
    .image-container-sm img { width: auto; }
    .login-logo img { max-width: none; margin-top: 30px;}
    h1, .h1 { font-size: 38px; line-height: 48px; }
    .btn { font-size: 16px; }
    .btn-small { font-size: 14px; padding: 4px 10px; }

	.yourcoach-bg .card-heading .small { display: inline-block; }
	.container { padding: 0 32px; }
}


/* medium & above */
@media only screen and (min-width: 768px) {
	.list-items > .list-item:nth-of-type(2n+1) {  clear: both; }
	.list-items > .list-item:nth-of-type(3n+1) {  clear: none; }
}

/* large & above */
@media only screen and (min-width: 992px) {
.LoginController body { background: url(/images/login-bg.jpg) no-repeat #fff; background-size: 70% auto; background-position:  bottom right; }
	.container {
		max-width: 1400px;
	}

	.list-items > .list-item:nth-of-type(2n+1) {  clear: none; }
	.list-items > .list-item:nth-of-type(3n+1) {  clear: both; }
}

/* bootstrap overrides */
.container { width: 100%; }
a.menu-toggle:hover, .nav > li > a:hover, a.menu-toggle:focus, .nav > li > a:focus, a.menu-toggle:active, .nav > li > a:active { background: none; }
.modal-footer .btn + .btn { margin-right: 0; }
.modal-dialog { margin: 48px auto; }
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  border-top: 1px solid #ddd;
  border-bottom: 0;
}
.table td, .table th {
  border: 1px solid #e0e0e0;
  line-height: 24px !important;
  padding: 12px 16px 11px !important;
  vertical-align: top !important;
}

th.wide { width: 33%; }
th.center, td.center { text-align: center; }
table .buttons { padding: 6px !important; }

.loading-indicator #ngplus-overlay-container { position: fixed; width: 100%; top: 0; z-index: 5; background: rgba(255,255,255,0.7); height: 100%; }
.loading-indicator #ngplus-overlay-container .progress-circular { margin-top: 90px; }