<div class="content-heading resources-bg">
    <div class="container">
        <h1 class="heading"><span class="icon icon-content-copy"></span>&nbsp;{{vm.title}}</h1>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div class="clearfix sub-header">
            <h2 class="content-sub-heading pull-left">
                <a ui-sref="program({programId: vm.programId})"><span class="icon icon-chevron-left"></span>&nbsp;Back to Program</a>
            </h2>
            <p class="pull-right">
                <a class="btn btn-blue waves-button waves-effect waves-light" href="#"><span class="icon icon-my-library-add"></span>&nbsp;Create new item</a>
            </p>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div ngf-drop="" ngf-select="" ng-model="vm.files" ng-model-rejected="vm.rejFiles" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box col-sm-12" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*,application/pdf'" ngf-drop-available="dropAvailable" ngf-change="vm.upload()">
                    <div ng-hide="dropAvailable">File Drop not available</div>
                    <div ng-show="dropAvailable">Drop Images or PDFs</div>
                    <div>click to select</div>
                </div>
                <ul style="clear:both" ng-show="vm.rejFiles.length > 0" class="response">
                    <li class="sel-file" ng-repeat="f in rejFiles">
                        <p style="color: red">Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}</p>
                    </li>
                </ul>
                <ul style="clear:both" ng-show="vm.files.length > 0" class="response">
                    <li class="sel-file" ng-repeat="f in vm.files">
                        <span class="progress" ng-show="f.progress >= 0">                       
                            <div style="width:{{f.progress}}%">{{f.progress}}%</div>
                        </span>             
                        <button class="button" ng-click="f.upload.abort();f.upload.aborted=true" 
                                ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort</button>
                        {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                        <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
                        <div ng-show="f.showDetail">
                            <br/>
                            <div data-ng-show="f.result.result == null">{{f.result}}</div>
                            <ul>
                                <li ng-repeat="item in f.result.result">
                                    <div data-ng-show="item.name">file name: {{item.Name}}</div>
                                    <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                    <div data-ng-show="item.size">size on the server: {{item.size}}</div>
                                    <div data-ng-show="item.value">value: {{item.value}}</div>
                                </li>
                            </ul>
                            <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
                        </div>
                    </li>
                </ul>
                <div class="list-items">
                    <div class="col-md-4 col-sm-6 list-item" ng-repeat="p in vm.resources">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner">
                                    <p class="card-heading">{{p.Name}}</p>
                                    <p>{{p.Description}}</p>
                                </div>
                                <div class="card-action">
                                    <ul class="nav nav-list pull-right">
                                        <li>
                                            <a href="#"><span class="icon icon-insert-drive-file"></span>&nbsp;View File</a>
                                        </li>
                                        <li>
                                            <a ng-click="vm.deleteRecord(p.Id, $event)" ng-show="vm.authData.isCoach"><span class="icon icon-delete"></span>&nbsp;Delete</a>
                                        </li>
                                        <li>
                                            <a ui-sref="resourceRead({programId: p.CoachingProgramId, resourceId: p.Id})">Read More&nbsp;<span class="icon icon-chevron-right"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
