<form name="form" class="css-form" novalidate>
    <div>
        Title:
    </div>
    <div class="margin-bottom">
       <input type="text" class="form-control" name="title" required="" />
    </div>
    <div>
        Link URL (include http://):
    </div>
    <div class="margin-bottom">
       <input type="link" class="form-control" ng-model="link" name="myLink" required="" />
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="btn btn-blue" ng-click="confirm(link)"
        ng-disabled="!form.myLink.$valid">Add Link</button>
    </div>
</form>