<form name="form" class="css-form" novalidate>
    <div>
        Title:
    </div>
    <div class="margin-bottom">
       <input type="text" class="form-control" ng-model="data.title" name="myTitle" required="" />
    </div>
    <div>
        Link URL (include http://):
    </div>
    <div class="margin-bottom">
       <input type="text" class="form-control" ng-model="data.link" name="myLink" required="" />
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="btn btn-blue" ng-click="confirm(data)" ng-disabled="!form.$valid">Add Link</button>
    </div>
</form>