@model System.Web.Mvc.ViewDataDictionary
@{
    Layout = "~/Views/EmailMaster.cshtml";
    var program = (ewide.web.Models.CoachingProgram)Model["Program"];
}
    <h1 class="page-heading">Invoice</h1>
    <hr />
    Invoice for Program Id @program.Id in the amount of @program.InvoiceAmount for Coach @program.Coach.FirstName
