@model System.Web.Mvc.ViewDataDictionary
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            padding: 50px;
            font-family: Verdana, Arial;
            color: #555 !important;
            font-size: 14px;
        }

        span, td, li {
            color: #777 !important;
        }

        h1 {
            font-size: 25px;
            padding: 5px 0 15px;
            margin: 0;
        }

        h2 {
            font-size: 19px;
            padding: 5px 0 15px;
            margin: 0;
        }

        h3 {
            font-size: 16px;
            padding: 5px 0 15px;
            margin: 0;
        }

        p {
            font-size: 14px;
            padding: 5px 0 15px;
            margin: 0;
        }

        h1.page-heading {
            float: left;
            font-size: 35px;
            padding: 45px 0 0px;
            font-weight: normal;
        }

        .logo {
            float: right;
            padding-right: 20px;
        }

            .logo img {
                width: 120px;
                margin-bottom: 25px;
            }

        hr {
            clear: both;
            border-bottom: 1px solid #ddd;
            border-top: 0;
            margin-bottom: 45px;
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="http://rightnow.muchmedia.com.au/images/logo-vertical.png" />
    </div>
    <h1 class="page-heading">Send Invoice</h1>
    <hr />
    Invoice Send Requested:
    Please send the invoice for Program Id @Model["Program Id"] in the amount of @Model["Invoice Amount"].
</body>
</html>
