<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="vm.data.Name" class="form-control" name="name" required="" />
    <span class="half-margin-top form-error-message" ng-hide="form.name.$valid || form.name.$pristine">A Name is required</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">UserName</label>
  <div class="col-sm-10">
    <input type="text" ng-model="vm.data.UserName" class="form-control" name="userName" required="" />
    <span class="half-margin-top form-error-message" ng-hide="form.userName.$valid || form.userName.$pristine">A UserName is required</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Password</label>
  <div class="col-sm-10">
    <input type="text" ng-model="vm.data.Password" class="form-control" name="password" required="" />
    <span class="half-margin-top form-error-message" ng-hide="form.password.$valid || form.password.$pristine">A Password is required</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Link</label>
  <div class="col-sm-10">
    <input type="text" ng-model="vm.data.Link" class="form-control" name="link" required="" />
    <span class="half-margin-top form-error-message" ng-hide="form.link.$valid || form.link.$pristine">A Link is required</span>
  </div>
</div>
