<div class="content-heading grey-bg">
    <div class="container">
        <h1 class="heading"><span class="icon icon-dashboard"></span>&nbsp;{{vm.title}}<span ng-show="vm.data.IsClosed"> - (Closed)</span></h1>
        <div class="heading-right margin-bottom" ng-show="vm.authData.isCoach || vm.authData.isAdmin">
            <a class="btn btn-flat waves-button waves-effect waves-light" ng-click="vm.sendInvoice($event)"><span class="icon icon-email"></span>&nbsp;Send Invoice</a>
            <a class="btn btn-flat waves-button waves-effect waves-light" ng-click="vm.closeProgram($event)"><span class="icon icon-close"></span>&nbsp;Close Program</a>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div class="clearfix sub-header" ng-show="vm.authData.isCoach">
            <p class="content-sub-heading pull-left">
                <a ui-sref="programs">
                    <span class="icon icon-chevron-left"></span>Back to Program List
                </a>
            </p>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-sm-6 dashboard-buttons">
                    <a ui-sref="yourcoachee({programId: vm.data.Id})" class="card-button" ng-show="vm.authData.isCoach">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title yourcoach-bg">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <p class="card-heading"><span class="icon icon-person"></span>&nbsp;Your coachee - <span class="small">{{ vm.data.Coachee.FirstName }} {{ vm.data.Coachee.LastName }}</span></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <p class="card-heading"><span class="icon icon-chevron-right pull-right"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextYourCoachee"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="yourcoach({programId: vm.data.Id})" class="card-button" ng-show="!vm.authData.isCoach">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title yourcoach-bg">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <p class="card-heading"><span class="icon icon-person"></span>&nbsp;Your coach - <span class="small">{{ vm.data.Coach.FirstName }} {{ vm.data.Coach.LastName }}</span></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <p class="card-heading"><span class="icon icon-chevron-right pull-right"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextYourCoach"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="learningplan({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title learning-plan-bg">
                                    <p class="card-heading"><span class="icon icon-layers"></span>&nbsp;Learning Plan<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextLearningPlan"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="assignments({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title assignments-bg">
                                    <p class="card-heading"><span class="icon icon-content-copy"></span>&nbsp;Assignments<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextAssignments"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="resources({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title resources-bg">
                                    <p class="card-heading"><span class="icon icon-insert-drive-file"></span>&nbsp;Resources<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextResources"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="uploads({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title uploads-bg">
                                    <p class="card-heading"><span class="icon icon-file-upload" />&nbsp;Uploads<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextUploads"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="surveys({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title surveys-bg">
                                    <p class="card-heading"><span class="icon icon-comment"></span>&nbsp;Surveys<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextSurveys"></div>
                            </div>
                        </div>
                    </a>
                </div>
                

                
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-inner card-title sessions-bg">

                                    <div class="row">
                                        <div class="col-xs-6 heading-col">
                                            <p class="card-heading"><span class="icon icon-forum"></span>&nbsp;Coaching Sessions</p>
                                        </div>
                                        <div class="col-xs-6 heading-col">
                                            <p class="card-heading"><a onclick="window.open('', '_blank', 'location=no,height=500,width=580,scrollbars=yes,status=yes'); return false;" class="pull-right btn btn-darkblue waves-button waves-effect waves-light" href="#"><span class="icon icon-video-collection"></span>&nbsp;Begin Session</a></p>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="card-inner" ng-show="!vm.authData.isCoach && !vm.authData.isAdmin">
                                <p class="smallText">To begin a coaching session, click 'begin session', and then Right.Now. will attempt to connect you to your coach. <a href="javascript:void(0)" ng-click="vm.sessionInfoReadMore($event)">Read More<span class="icon icon-chevron-right"></span></a></p>
                            </div>
                            <div class="card-inner" ng-show="vm.authData.isCoach">
                                <p class="smallText">To begin a coaching session, click 'begin session', and then Right.Now. will attempt to connect you to your coachee.</p>
                            </div>
                            <div class="session-list-item">
                                <div class="card-inner">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-left padding-right">
                                                <span class="icon icon-event icon-large"></span>
                                            </div>
                                            <div>
                                                <h3>Monday 24 June 2015&nbsp;&nbsp;<span class="icon icon-schedule"></span>&nbsp;14:30 - 15:30<span class="pull-right"><span class="icon icon-check-box"></span>&nbsp;Complete</span></h3>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="session-list-item">
                                <div class="card-inner">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-left padding-right">
                                                <span class="icon icon-event icon-large"></span>
                                            </div>
                                            <div>
                                                <h3>Wednesday 16 July 2015&nbsp;&nbsp;<span class="icon icon-schedule"></span>&nbsp;09:45 - 10:30</h3>
                                            </div>

                                        </div>
                                        <div class="col-sm-12 half-margin-top" ng-show="vm.authData.isCoach || vm.authData.isAdmin">
                                            <span class="btnGroup pull-right">
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-close"></span>&nbsp;Cancel</a>
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-repeat"></span>&nbsp;Reschedule</a>
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-check"></span>&nbsp;Set as Complete</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="session-list-item">
                                <div class="card-inner">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-left padding-right">
                                                <span class="icon icon-event icon-large"></span>
                                            </div>
                                            <div>
                                                <h3>Friday 05 August 2015&nbsp;&nbsp;<span class="icon icon-schedule"></span>&nbsp;16:30 - 18:00</h3>
                                            </div>

                                        </div>
                                        <div class="col-sm-12 half-margin-top" ng-show="vm.authData.isCoach || vm.authData.isAdmin">
                                            <span class="btnGroup pull-right">
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-close"></span>&nbsp;Cancel</a>
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-repeat"></span>&nbsp;Reschedule</a>
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-check"></span>&nbsp;Set as Complete</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="session-list-item">
                                <div class="card-inner">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-left padding-right">
                                                <span class="icon icon-event icon-large"></span>
                                            </div>
                                            <div>
                                                <h3>Monday 11 August 2015&nbsp;&nbsp;<span class="icon icon-schedule"></span>&nbsp;15:30 - 16:30</h3>
                                            </div>

                                        </div>
                                        <div class="col-sm-12 half-margin-top" ng-show="vm.authData.isCoach || vm.authData.isAdmin">
                                            <span class="btnGroup pull-right">
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-close"></span>&nbsp;Cancel</a>
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-repeat"></span>&nbsp;Reschedule</a>
                                                <a href="javascrip:void(0)" class="btn btn-blue btn-small"><span class="icon icon-check"></span>&nbsp;Set as Complete</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div ng-show="!vm.data.CoachingSessions">
                                <hr />
                                <div class="card-inner">
                                    <p>
                                        There is currently no sessions to list
                                    </p>
                                </div>
                            </div>-->
                            <!--<div class="session-list-item">
                                <div class="card-inner">
                                   <i class="fa fa-calendar-o"></i> <strong>{{p.StartedAt | date:'EEE dd MMM yyyy HH:mm'}} - {Finish Time}</strong>
                                   <div>
                                        <span class="btnGroup">
                                            <a href="javascrip:void(0)" class="btn btn-grey">Cancel <i class="fa fa-angle-right"></i></a>
                                            <a href="javascrip:void(0)" class="btn btn-grey">Reschedule <i class="fa fa-angle-right"></i></a>
                                            <a href="javascrip:void(0)" class="btn btn-grey">Set as Complete <i class="fa fa-angle-right"></i></a>
                                        </span>
                                   </div>
                                    
                                </div>
                            </div>-->

                            <!--<div class="text-info" ng-bind-html="vm.screenconfig.bodyTextSessions"></div>
                            <hr />
                            <ul>
                                <li ng-repeat="p in vm.data.CoachingSessions">
                                    {{p.StartedAt}}
                                </li>
                            </ul>-->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
