<div class="content-heading grey-bg">
    <div class="container">
        <h1 class="heading"><span class="icon icon-dashboard"></span>&nbsp;{{vm.title}}<span ng-show="vm.data.IsClosed"> - (Closed)</span></h1>
        <div class="heading-right margin-bottom" ng-show="vm.authData.isCoach || vm.authData.isAdmin">
            <a class="btn btn-flat waves-button waves-effect waves-light" ng-click="vm.openSendInvoice($event)" ng-show="(vm.authData.isCoach || vm.authData.isAdmin) && !vm.data.InvoiceAmount"><span class="icon icon-email"></span>&nbsp;Send Invoice</a>
            <a class="btn btn-flat waves-button waves-effect waves-light" ng-click="vm.closeProgram($event)" ng-show="(vm.authData.isCoach || vm.authData.isAdmin) && !vm.data.IsClosed"><span class="icon icon-close"></span>&nbsp;Close Program</a>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div class="clearfix sub-header" ng-show="vm.authData.isCoach">
            <p class="content-sub-heading pull-left">
                <a ui-sref="programs">
                    <span class="icon icon-chevron-left"></span>Back to Program List
                </a>
            </p>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-sm-6 dashboard-buttons">
                    <a ui-sref="yourcoachee({programId: vm.data.Id})" class="card-button" ng-show="vm.authData.isCoach">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title yourcoach-bg">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <p class="card-heading"><span class="icon icon-person"></span>&nbsp;Your coachee - <span class="small">{{ vm.data.Coachee.FirstName }} {{ vm.data.Coachee.LastName }}</span></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <p class="card-heading"><span class="icon icon-chevron-right pull-right"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextYourCoachee"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="yourcoach({programId: vm.data.Id})" class="card-button" ng-show="!vm.authData.isCoach">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title yourcoach-bg">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <p class="card-heading"><span class="icon icon-person"></span>&nbsp;Your coach - <span class="small">{{ vm.data.Coach.FirstName }} {{ vm.data.Coach.LastName }}</span></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <p class="card-heading"><span class="icon icon-chevron-right pull-right"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextYourCoach"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="learningplan({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title learning-plan-bg">
                                    <p class="card-heading"><span class="icon icon-layers"></span>&nbsp;Learning Plan<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextLearningPlan"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="assignments({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title assignments-bg">
                                    <p class="card-heading"><span class="icon icon-content-copy"></span>&nbsp;Assignments<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextAssignments"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="resources({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title resources-bg">
                                    <p class="card-heading"><span class="icon icon-insert-drive-file"></span>&nbsp;Resources<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextResources"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="uploads({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title uploads-bg">
                                    <p class="card-heading"><span class="icon icon-file-upload"></span>&nbsp;Uploads<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextUploads"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="surveys({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title surveys-bg">
                                    <p class="card-heading"><span class="icon icon-comment"></span>&nbsp;Surveys<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextSurveys"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-inner card-title sessions-bg">
                                <div class="row">
                                    <div class="col-xs-6 heading-col">
                                        <p class="card-heading"><span class="icon icon-forum"></span>&nbsp;Coaching Sessions</p>
                                    </div>
                                    <div class="col-xs-6 heading-col" ng-show="vm.authData.isCoach || vm.authData.isAdmin">
                                        <p class="card-heading"><a class="pull-right btn btn-darkblue waves-button waves-effect waves-light" ui-sref="programSessionCreate({programId: vm.data.Id})"><span class="icon icon-video-collection"></span>&nbsp;Create New Session</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner">
                                <p class="smallText">To begin a coaching session, click 'begin session', and then Right.Now. will attempt to connect you.</p>
                            </div>
                            <div class="session-list-item" ng-repeat="session in vm.data.CoachingSessions">
                                <div class="card-inner">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-left padding-right">
                                                <span class="icon icon-event icon-large"></span>
                                            </div>
                                            <div>
                                                <h3>{{ session.StartedAt | date:'EEEE dd MMM yyyy' }}&nbsp;&nbsp;<span class="icon icon-schedule"></span>&nbsp;{{ session.StartedAt | date:'hh:mm a' }} - {{ vm.finishTime(session) | date:'hh:mm a' }}<span class="pull-right" ng-show="session.IsClosed"><span class="icon icon-check-box"></span>&nbsp;Complete</span></h3>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-show="!session.IsClosed && session.isWithIn5Minutes">
                                            <a class="pull-right btn btn-blue waves-button waves-effect waves-light" href="{{ vm.apiurl }}/vidyo/?id={{ session.Id }}&amp;access_token={{ vm.authData.token }}" target="_blank"><span class="icon icon-video-collection"></span>&nbsp;Begin Session</a>
                                        </div>
                                        <div class="col-sm-12 half-margin-top" ng-show="(vm.authData.isCoach || vm.authData.isAdmin) && !session.IsClosed">
                                            <span class="button-group">
                                                <a href="#" ng-click="vm.cancelSession(session)" class=""><span class="icon icon-close"></span>&nbsp;Cancel</a>
                                                <a ui-sref="programSessionUpdate({programId: vm.data.Id, sessionId: session.Id})" class=""><span class="icon icon-repeat"></span>&nbsp;Reschedule</a>
                                                <a href="#" ng-click="vm.setAsComplete(session)" class=""><span class="icon icon-check"></span>&nbsp;Set as Complete</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="session-list-item" ng-show="vm.data.CoachingSessions.length <= 0">
                                <div class="card-inner">
                                    <p>
                                        There is currently no sessions to list
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
