<div class="content-heading grey-bg">
    <div class="container">
        <h1 class="heading"><span class="icon icon-dashboard"></span>&nbsp;{{vm.title}}</h1>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div class="clearfix sub-header" ng-show="vm.authData.isCoach">
            <h2 class="content-sub-heading pull-left">
                <a ui-sref="programs">
                    <span class="icon icon-chevron-left"></span>&nbsp;Back to Program List
                </a>
            </h2>
            <p class="pull-right">
                <a class="btn btn-blue waves-button waves-effect waves-light margin-right" ng-click="vm.sendInvoice($event)"><span class="icon icon-email"></span>&nbsp;Send Invoice</a>
                <a class="btn btn-blue waves-button waves-effect waves-light" ng-click="vm.closeProgram($event)"><span class="icon icon-close"></span>&nbsp;Close Program</a>
            </p>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-sm-6">
                    <a ui-sref="yourcoach({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title yourcoach-bg">
                                    <p class="card-heading"><span class="icon icon-person"></span>&nbsp;Your coach<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextYourCoach"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="learningplan({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title learning-plan-bg">
                                    <p class="card-heading"><span class="icon icon-layers"></span>&nbsp;Learning Plan<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextLearningPlan"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="assignments({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title assignments-bg">
                                    <p class="card-heading"><span class="icon icon-content-copy"></span>&nbsp;Assignments<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextAssignments"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="resources({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title resources-bg">
                                    <p class="card-heading"><span class="icon icon-insert-drive-file"></span>&nbsp;Resources<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextResources"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="uploads({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title uploads-bg">
                                    <p class="card-heading"><span class="icon icon-file-upload" />&nbsp;Uploads<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextUploads"></div>
                            </div>
                        </div>
                    </a>
                    <a ui-sref="surveys({programId: vm.data.Id})" class="card-button">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner card-title surveys-bg">
                                    <p class="card-heading"><span class="icon icon-comment"></span>&nbsp;Surveys<span class="icon icon-chevron-right pull-right"></span></p>
                                </div>
                                <div class="card-inner" ng-bind-html="vm.screenconfig.bodyTextSurveys"></div>
                            </div>
                        </div>
                    </a>
                </div>
                

                
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-inner card-title sessions-bg">
                                <p class="card-heading"><span class="icon icon-forum"></span>&nbsp;Sessions</p>
                            </div>
                            <div class="card-inner">
                                <p class="smallText">Manage your upcoming coaching sessions with your coach. To begin a coaching session, click 'begin session', then Right.Now. will attempt to connect you to your coach.</p>
                            </div>
                            <hr />
                            <div class="card-inner">
                                <p>
                                    Session stuff here
                                </p>
                            </div>
                            <hr />
                            <div class="card-inner">
                                <p>
                                    Session stuff here
                                </p>
                            </div>
                            <div class="text-info" ng-bind-html="vm.screenconfig.bodyTextSessions"></div>
                            <hr />
                            <ul>
                                <li ng-repeat="p in vm.data.CoachingSessions">
                                    {{p.StartedAt}}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
