<form name="form" class="css-form" novalidate>
    <div>
        Invoice Amount:
    </div>
    <div class="margin-bottom">
        <input type="text" ng-model="invoiceAmount" class="form-control" name="invoiceAmount" required="" fcsa-number="{ prepend: '$' }" />
        <span class="half-margin-top form-error-message" ng-hide="form.invoiceAmount.$valid || form.invoiceAmount.$pristine">A valid invoice amount is required</span>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="btn btn-blue" ng-click="confirm(invoiceAmount)"
        ng-enabled="form.$valid">Send Invoice</button>
    </div>
</form>
