<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Date & Time</label>
  <div class="col-sm-10 date-picker1">
    <div class="date-label">{{vm.data.StartedAt | date:"EEE dd MMM, yyyy"}} - {{ vm.data.StartedAt | date:"hh:mm a" }} - {{ vm.finishTime(vm.data) | date:"hh:mm a" }}</div>
    <datepicker ng-model="vm.data.StartedAt" class="well well-sm date-picker" ng-change="vm.selectDate()"></datepicker>
    <timepicker ng-model="vm.data.StartedAt" class="time-picker" minute-step="15"></timepicker>
    <span class="half-margin-top form-error-message" ng-hide="vm.data.StartedAt || form.$pristine">A Date is required</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Duration in Minutes</label>
  <div class="col-sm-10">
    <div class="btn-group">
      <label>
        <label class="btn btn-primary" ng-model="vm.data.Duration" ng-repeat="p in vm.durations" btn-radio="p">{{ p }}</label>
      </div>
    </div>
    <span class="half-margin-top form-error-message" ng-hide="vm.data.Duration || form.$pristine">A Duration is required</span>
  </div>
</div>
