<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <span class="navbar-logo"><img src="{{vm.navline.logo}}" alt="right.now. logo" /></span>
            <!--<span class="brand-title">{{vm.navline.title}}</span>-->
            <span class="brand-title ng-binding hidden-xs hidden-sm">{{vm.navline.tagline}}</span>
        </a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ui-sref="programs"><i class="fa fa-th-large"></i> Dashboard</a>
                </li>
                <li ng-show="vm.authData.isAdmin">
                    <a ui-sref="admin"><i class="fa fa-lock"></i> Admin</a>
                </li>
                <li>
                    <a ui-sref="profile"><i class="fa fa-user"></i> My Profile</a>
                </li>
                <li>
                    <a ui-sref="help"><i class="fa fa-question"></i> Help</a>
                </li>
                <li>
                    <a ng-click="vm.logoutUser()" href=""><i class="fa fa-times"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
