<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <span class="navbar-logo"><img src="{{vm.navline.logo}}" alt="right.now. logo" /></span>
            <span class="brand-title">{{vm.navline.title}}</span>
            <span class="brand-title">{{vm.navline.tagline}}</span>
        </a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ui-sref="programs">Dashboard</a>
                </li>
                <li ng-show="vm.authData.isAdmin">
                    <a ui-sref="admin">Admin</a>
                </li>
                <li>
                    <a ui-sref="profile">My Profile</a>
                </li>
                <li>
                    <a ui-sref="profile">Help</a>
                </li>
                <li>
                    <a ng-click="vm.logoutUser()" href="">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
