        <div class="menu-scroll">
            <div class="menu-wrap">
                <div class="menu-content">
                    <div ng-show="vm.authData.isAdmin">
                        <ul class="nav">
                            <li>
                                <a ui-sref="admin"><span class="icon icon-layers"></span>&nbsp;Admin Dashboard</a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                    <div ng-show="vm.authData.isCoach">
                        <ul class="nav">
                            <li>
                                <a ui-sref="programs"><span class="icon icon-people"></span>&nbsp;Program List</a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                    <div ng-hide="vm.menu.programId <= 0">
                        <ul class="nav">
                            <li>
                                <a ui-sref="program({programId: vm.menu.programId})"><span class="icon icon-dashboard"></span>&nbsp;Program Dashboard</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="nav">
                            <li ng-hide="vm.authData.isCoach">
                                <a ui-sref="yourcoach({programId: vm.menu.programId})"><span class="icon icon-person"></span>&nbsp;Your coach</a>
                            </li>
                            <li ng-show="vm.authData.isCoach">
                                <a ui-sref="yourcoachee({programId: vm.menu.programId})"><span class="icon icon-person"></span>&nbsp;Your coachee</a>
                            </li>
                            <li>
                                <a ui-sref="learningplan({programId: vm.menu.programId})"><span class="icon icon-layers"></span>&nbsp;Learning plan</a>
                            </li>
                            <li>
                                <a ui-sref="assignments({programId: vm.menu.programId})"><span class="icon icon-content-copy"></span>&nbsp;Assignments</a>
                            </li>
                            <li>
                                <a ui-sref="resources({programId: vm.menu.programId})"><span class="icon icon-insert-drive-file"></span>&nbsp;Resources</a>
                            </li>
                            <li>
                                <a  ui-sref="uploads({programId: vm.menu.programId})"><span class="icon icon-file-upload"></span>&nbsp;Uploads</a>
                            </li>
                            <li>
                                <a ui-sref="surveys({programId: vm.menu.programId})"><span class="icon icon-comment"></span>&nbsp;Surveys</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="nav">
                            <li>
                                <a ui-sref="help"><span class="icon icon-help"></span>&nbsp;Help</a>
                            </li>

                        </ul>
                        <hr>
                    </div>
                    <ul class="nav">
                        <li>
                            <a ui-sref="profile"><span class="icon icon-account-box"></span>&nbsp;Your profile</a>
                        </li>
                        <!--<li>
                            <a ui-sref="password"><span class="icon icon-lock"></span>&nbsp;Change Password</a>
                        </li>-->
                        <li>
                            <a ng-click="vm.logoutUser()"><span class="icon icon-cancel"></span>&nbsp;Logout</a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
