<div ng-controller="ShellController as vm">
    <header class="header" ng-show="vm.authData.isAuthenticated">
        <ul class="nav nav-list pull-left">
            <li>
                <a class="menu-toggle" href="" ng-click="vm.toggleMenu()">
                    <span class="access-hide">Menu</span>
                    <span class="icon icon-menu icon-lg"></span>
                    <span class="header-close icon icon-close icon-lg"></span>
                </a>
            </li>
        </ul>
        <span class="header-logo"><img src="/images/logo.png" alt="logo" /></span>
    </header>
    <nav class="menu" ng-class="{open: vm.menu.isOpen}" id="menu">
        <div class="menu-scroll">
            <div class="menu-wrap">
                <div class="menu-content">
                    <div ng-show="vm.authData.isAdmin">
                        <ul class="nav">
                            <li>
                                <a ui-sref="admin"><span class="icon icon-dashboard"></span>&nbsp;Admin Dashboard</a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                    <div ng-show="vm.authData.isCoach">
                        <ul class="nav">
                            <li>
                                <a ui-sref="programs"><span class="icon icon-people"></span>&nbsp;Program List</a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                    <div ng-hide="vm.menu.programId <= 0">
                        <ul class="nav">
                            <li>
                                <a ui-sref="program({programId: vm.menu.programId})"><span class="icon icon-dashboard"></span>&nbsp;Program Dashboard</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="nav">
                            <li ng-hide="vm.authData.isCoach">
                                <a ui-sref="yourcoach({programId: vm.menu.programId})"><span class="icon icon-person"></span>&nbsp;Your coach</a>
                            </li>
                            <li ng-show="vm.authData.isCoach">
                                <a ui-sref="yourcoachee({programId: vm.menu.programId})"><span class="icon icon-person"></span>&nbsp;Your coachee</a>
                            </li>
                            <li>
                                <a ui-sref="learningplan({programId: vm.menu.programId})"><span class="icon icon-layers"></span>&nbsp;Learning plan</a>
                            </li>
                            <li>
                                <a ui-sref="assignments({programId: vm.menu.programId})"><span class="icon icon-content-copy"></span>&nbsp;Assignments</a>
                            </li>
                            <li>
                                <a ui-sref="resources({programId: vm.menu.programId})"><span class="icon icon-insert-drive-file"></span>&nbsp;Resources</a>
                            </li>
                            <li>
                                <a  ui-sref="uploads({programId: vm.menu.programId})"><span class="icon icon-file-upload"></span>&nbsp;Uploads</a>
                            </li>
                            <li>
                                <a ui-sref="surveys({programId: vm.menu.programId})"><span class="icon icon-comment"></span>&nbsp;Surveys</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="nav">
                            <li>
                                <a ui-sref="help"><span class="icon icon-help"></span>&nbsp;Help</a>
                            </li>

                        </ul>
                        <hr>
                    </div>
                    <ul class="nav">
                        <li>
                            <a ui-sref="profile"><span class="icon icon-account-box"></span>&nbsp;Your profile</a>
                        </li>
                        <li>
                            <a ui-sref="password"><span class="icon icon-lock"></span>&nbsp;Change Password</a>
                        </li>
                        <li>
                            <a ng-click="vm.logoutUser()"><span class="icon icon-cancel"></span>&nbsp;Logout</a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div ui-view class="shuffle-animation"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation" class="loading-indicator">
            <div class="progress-circular progress-circular-alt progress-circular-center">
                <div class="progress-circular-wrapper">
                    <div class="progress-circular-inner">
                        <div class="progress-circular-left">
                            <div class="progress-circular-spinner"></div>
                        </div>
                        <div class="progress-circular-gap"></div>
                        <div class="progress-circular-right">
                            <div class="progress-circular-spinner"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>-->
        </div>
    </div>
    <footer class="footer padding-right" ng-show="vm.authData.isAuthenticated">
        <!--<div class="container">-->
            <p class="pull-right padding-right"><a href="http://www.oztrain.com.au" target="_blank">right.now. developed by <img class="logo" src="/images/oztrain-logo.png" /></a></p>
        <!--</div>-->
    </footer>
</div>