<div ng-controller="ShellController as vm">
    <header class="clearfix" ng-show="vm.authData.isAuthenticated">
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <section id="content" class="content">
        <div ui-view class="shuffle-animation"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
    <footer class="clearfix" ng-show="vm.authData.isAuthenticated">
        <div class="col-xs-12 text-right"><p>right.now. developed by <img src="/images/small-footer-Logo.png" alt="oztrain logo" /></p></div>
    </footer>
</div>
