<div class="content-heading learning-plan-bg">
    <div class="container">
        <h1 class="heading"><span class="icon icon-layers"></span>&nbsp;{{vm.title}}</h1>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div class="clearfix sub-header">
            <h2 class="content-sub-heading pull-left">
                <a ui-sref="program({programId: vm.programId})"><span class="icon icon-chevron-left"></span>Back to Dashboard</a>
            </h2>
            <p class="pull-right lighter">Last updated 10.06am 26/06/2015</p>
        </div>
        <div class="card-wrap">
            <div class="row">

                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-inner">
                                <div class="col-sm-12 margin-top margin-bottom clearfix">
                                    <div class="pull-left">
                                        <a href="javascript:void(0)" data-toggle="modal" class="btn btn-flat btn-blue waves-button waves-effect"><span class="icon icon-help"></span>&nbsp;Help</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{vm.apiurl}}/api/learningplan/DownloadPdf?id={{vm.programId}}&access_token={{vm.authData.token}}" class="btn btn-blue waves-button waves-effect waves-light margin-right-small"><span class="icon icon-insert-drive-file"></span>&nbsp;Export as PDF</a>
                                        <a class="btn btn-blue waves-button waves-effect waves-light margin-right-small"><span class="icon icon-email"></span>&nbsp;Send as Email</a>
                                        <button data-ng-click="vm.save()" class="btn btn-green waves-button waves-effect waves-light"><span class="icon icon-check"></span>&nbsp;Save</button>
                                    </div>
                                </div>
                                <!--<div class="col-sm-2">
                                    <p>content</p>
                                </div>-->
                                <div class="col-sm-12 margin-bottom">
                                    <form class="form-horizontal" role="form" ng-submit="add()">
                                        <text-angular ng-model="vm.data.LearningPlan"></text-angular>
                                    </form>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- Put this into 'help' modal -->
        <!-- <div class="col-sm-3 lp-detail" ng-bind-html="vm.screenconfig.BodyText"></div> -->
    </div>
</div>
