<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget worange">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <button class="btn btn-default" data-ng-click="vm.save()">Save Learning Plan</button>
                        <a href="{{vm.apiurl}}/api/learningplan/DownloadPdf?id={{vm.data.Id}}&access_token={{vm.authData.token}}" target="_blank" class="btn btn-default">Download Learning Plan as PDF</a>
                        <text-angular ng-model="vm.data.LearningPlan"></text-angular>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
