<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget worange">
                    <div class="widget-head">
                        <div class="page-title pull-left"><i class="fa fa-cube"></i> {{vm.title}}</div>
                        <div class="pull-right">
                            <button class="linkBtn darkGreenBtn" data-ng-click="vm.save()"><i class="fa fa-check-circle-o"></i> Save Learning Plan</button>
                            <a href="{{vm.apiurl}}/api/learningplan/DownloadPdf?id={{vm.programId}}&access_token={{vm.authData.token}}" target="_blank" class="linkBtn orangeBtn"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                            <a class="linkBtn greyBtn" ui-sref="program({id: vm.programId})"><i class="fa fa-angle-double-left"></i> Go Back</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>                    
                    <div class="widget-content user">
                        <div class="row">
                            <div class="col-sm-3 lp-detail" ng-bind-html="vm.screenconfig.BodyText"></div>
                            <div class="col-sm-9">                    
                                <text-angular ng-model="vm.data.LearningPlan"></text-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
