<form name="form" class="css-form" novalidate>
    <div>
        Email your learning plan to:
    </div>
    <div class="margin-bottom">
        <input type="email" class="form-control" ng-model="recipients" name="myEmail" required="" />
        <div class="half-margin-top form-error-message" ng-show="form.myEmail.$error.email">This email format is invalid</div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="btn btn-blue" ng-click="confirm(recipients)"
        ng-disabled="!form.myEmail.$valid">Send Email</button>
    </div>
</form>