<form name="form" class="css-form" novalidate>
    <div>
        Email Address:
    </div>
    <div class="margin-bottom">
        <input type="email" ng-model="email" class="form-control" name="email" required=""/>
        <span class="half-margin-top form-error-message" ng-hide="form.email.$valid || form.$pristine">A valid email is required</span>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="btn btn-blue" ng-click="confirm(email)" ng-enabled="form.$valid">Forgotten Password</button>
    </div>
</form>
