<section id="dashboard-view" class="mainbar" data-ng-controller="LoginController as vm">
    <section class="matter">
        <div class="container">
                <div class="loginCont">
                    <div class="row">
                        <div class="col-sm-5 logo">
                            <p><a href="{{vm.screenconfig.oztrainUrl}}" target="_blank"><img src="/images/oztrainLogo.png" class="img-thumbnail" alt="oztrain logo"></a></p>
                        </div>                
                        <div class="col-sm-7 login-form">
                            <form ng-show="!vm.authData.isAuthenticated" ng-submit="vm.loginUser()">
                                <input ng-model="vm.loginData.userName" type="text" name="user" placeholder="Username" />
                                <input ng-model="vm.loginData.password" type="password" name="pass" placeholder="Password" />
                                <br />
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-default pull-right">Forgot your password</a>
                            </form>
                            <div class="col-sm-12 red">{{vm.message}}</div>
                            <div ng-show="vm.authData.isAuthenticated" style='min-height:140px;'>
                                <a ui-sref="programs">You are already Logged In!</a>
                            </div>
                        </div>
                    </div>
                    <div class="row introCol">
                        <div class="col-sm-10" ng-bind-html="vm.screenconfig.blurb"></div>
                        <div class="col-sm-2"><a href="{{vm.screenconfig.oztrainUrl}}" target="_blank"><img src="/images/oztrain-footer-Logo.png" alt="oztrain logo" /></a></div>
                    </div>
                </div>
            <div ng-show="!vm.authData.isAuthenticated">
                <a class="btn btn-primary" href="" ng-click="vm.loginAUser('admin')">Login As Admin</a>
                <a class="btn btn-primary" href="" ng-click="vm.loginAUser('user1')">Login As User 1</a>
                <a class="btn btn-primary" href="" ng-click="vm.loginAUser('user2')">Login As User 2</a>
                <a class="btn btn-primary" href="" ng-click="vm.loginAUser('user3')">Login As User 3</a>
            </div>
            <br />
            <div>{{ vm.authData }}</div>
        </div>
    </section>
</section>
