        <div class="content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-push-2 col-md-5 col-md-push-1 col-sm-6">
                         <p class="text-center login-logo">
                            <img alt="Login" src="/images/logo-vertical.png">
                        </p>
                    </div>
                    <div class="col-lg-4 col-lg-push-2 col-md-5 col-md-push-1 col-sm-6">
                        <div class="card-wrap">
                            <div class="card">
                                <pre>{{ vm.data }}</pre>
                            </div>
                            <div class="card">
                                <div class="card-main">
                                    <div class="card-inner">
                                        <form class="form" ng-show="!vm.authData.isAuthenticated" ng-submit="vm.resetPassword()">
                                            <div class="form-group form-group-label">
                                                <div class="row">
                                                    <div class="col-md-10 col-md-push-1">
                                                        <input ng-model="vm.loginData.password" type="password" name="pass" id="login-password" placeholder="Password" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-label">
                                                <div class="row">
                                                    <div class="col-md-10 col-md-push-1">
                                                        <input ng-model="vm.loginData.passwordconfirm" type="password" name="passconf" id="login-password-confirm" placeholder="Password Confirmation" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-10 col-md-push-1">
                                                        <div class="form-error-message">{{vm.message}}</div>
                                                        <button type="submit" class="btn btn-block btn-blue waves-button waves-effect waves-light">Log In</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <a ng-click="vm.openForgotPassword($event)" class="margin-no-top pull-right">Forgot your password?</a>
                            <a href="http://localhost:3000/#/login/resetpassword/?email=admin@ewide.biz&token=KETLO3size35SmpqPQ1Rjtl4MTS1NDuh7pKEqudpww8q3exIgYkBUL7FLdxzS7k7P6neCHRJUKn3ARu%2fPJfSoS1yfArPEGPoTI6Qg72ltlpds29jOmeRJ9OkrF5zVA9mWh8D%2bEbbr1HXNHz%2bKcpg1LUKHQhmmhoohZxSuGapW%2fNuXTD5fGUcqZfuJdbmhZfV2pY178%2bUJ0bmunOyNDvHfA%3d%3d">test</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1 col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-push-2 col-md-7 col-md-push-1 col-sm-9 " ng-bind-html="vm.screenconfig.blurb">
                        <!--<p class="margin-no">Right.Now. is an online coaching app... more descriptive text here Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolorfdg. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mont, nascetur ridiculus mus. <a href="#">Read More ></a></p>-->
                    </div>
                    <div class="col-lg-2 col-lg-push-2 col-md-3 col-md-push-1 col-sm-3 text-right ">
                        <a href="{{vm.screenconfig.oztrainUrl}}" target="_blank"><img alt="OzTrain" src="/images/oztrain-logo.png"></a>
                    </div>
                </div>
            </div>
        </div>
