CREATE DATABASE [rightnow] ON  PRIMARY 
( NAME = N'rightnow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2008R2\MSSQL\DATA\rightnow.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'rightnow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2008R2\MSSQL\DATA\rightnow_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [rightnow]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [rightnow] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Program
	(
	Id int NOT NULL IDENTITY (1, 1),
	LearningPlan ntext NULL,
	IsActive bit NOT NULL,
	CoachLinks nvarchar(1000) NULL,
	CoacheeLinks nvarchar(1000) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Program ADD CONSTRAINT
	DF_Program_IsActive DEFAULT 1 FOR IsActive
GO
ALTER TABLE dbo.Program ADD CONSTRAINT
	PK_Program PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Program SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Survey
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name nvarchar(50) NOT NULL,
	Link nvarchar(250) NOT NULL,
	IsComplete bit NOT NULL,
	ProgramId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Survey ADD CONSTRAINT
	DF_Survey_IsComplete DEFAULT 0 FOR IsComplete
GO
ALTER TABLE dbo.Survey ADD CONSTRAINT
	PK_Survey PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Survey ADD CONSTRAINT
	IX_Survey_Name UNIQUE NONCLUSTERED 
	(
	Name
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Survey ADD CONSTRAINT
	FK_Survey_Program FOREIGN KEY
	(
	ProgramId
	) REFERENCES dbo.Program
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Survey SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Session
	(
	Id int NOT NULL IDENTITY (1, 1),
	Date datetime NOT NULL,
	Length int NOT NULL,
	HasCoachAccepted bit NOT NULL,
	HasCoacheeAccepted bit NOT NULL,
	ProgramId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Session ADD CONSTRAINT
	DF_Session_HasCoachedAccepted DEFAULT 0 FOR HasCoachAccepted
GO
ALTER TABLE dbo.Session ADD CONSTRAINT
	DF_Session_HasCoacheeAccepted DEFAULT 0 FOR HasCoacheeAccepted
GO
ALTER TABLE dbo.Session ADD CONSTRAINT
	PK_Session PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Session ADD CONSTRAINT
	FK_Session_Program FOREIGN KEY
	(
	ProgramId
	) REFERENCES dbo.Program
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Session SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Assignment
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name nvarchar(50) NOT NULL,
	Links nvarchar(250) NULL,
	Description nvarchar(250) NOT NULL,
	BodyText ntext NULL,
	ProgramId int NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Assignment ADD CONSTRAINT
	PK_Assignment PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Assignment ADD CONSTRAINT
	IX_Assignment_Name UNIQUE NONCLUSTERED 
	(
	Name
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Assignment ADD CONSTRAINT
	FK_Assignment_Program FOREIGN KEY
	(
	ProgramId
	) REFERENCES dbo.Program
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Assignment SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
