<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wyellow">
                    <div class="widget-head">
                        <div class="page-title pull-left"><i class="fa fa-th"></i> {{vm.title}}</div>
                        <div class="pull-right">
                            <a ui-sref="assignmentCreate({programId: vm.programId})" class="linkBtn darkGreenBtn" ng-show="vm.authData.isCoach"><i class="fa fa-plus"></i> Add New Assignment</a>
                            <a class="linkBtn greyBtn" ui-sref="program({id: vm.programId})"><i class="fa fa-angle-double-left"></i> Go Back</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>                    
                    <div class="widget-content user">
                        <ul>
                            <li ng-repeat="p in vm.assignments">
                                <p>
                                    <span><a ui-sref="assignmentRead({programId: p.CoachingProgramId, assignmentId: p.Id})" class="btn btn-default">Open {{p.Name}}</a></span>
                                    <span><a ui-sref="assignmentUpdate({programId: p.CoachingProgramId, assignmentId: p.Id})" class="btn btn-default" ng-show="vm.authData.isCoach">Update Assignment >></a></span>
                                    <span><a ng-click="vm.deleteAssignment(p.Id)" class="btn btn-default" ng-show="vm.authData.isCoach">Delete Assignment >></a></span>
                                </p>
                                <small>{{p.UpdatedAt}}</small>
                                <p>{{p.Description}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
