@model System.Web.Mvc.ViewDataDictionary
@{
    Layout = "~/Views/Email/EmailMaster.cshtml";
    var url = (String)Model["Url"];
}
<p>A password reset has been requested from the <em>right.<strong>now.</strong></em> log-in page. Please reset your password by clicking <a href="@url">here</a>