@model System.Web.Mvc.ViewDataDictionary
@{
    Layout = "~/Views/Email/EmailMaster.cshtml";
    var data = (ewide.web.Models.CoachingProgram)Model["Program"];
    var url = (string)Model["Url"];
}
    <p>Please find attached the <em>right.<strong>now.</strong></em> Coaching Learning Plan for @data.Coachee.FirstName @data.Coachee.LastName</p>
