@model System.Web.Mvc.ViewDataDictionary
@{
    Layout = "~/Views/Email/EmailMaster.cshtml";
    var program = (ewide.web.Models.CoachingProgram)Model["Program"];
}
<p>&nbsp;</p>
    <p>Tax invoice for Program Id @program.Id in the amount of @string.Format("{0:C}", program.InvoiceAmount.ToString()) for Coach @program.Coach.FirstName @program.Coach.LastName
</p>