@model System.Web.Mvc.ViewDataDictionary
@{
    Layout = "~/Views/Email/EmailMaster.cshtml";
    var data = (ewide.web.Models.CoachingSession)Model["Session"];
    var url = (string)Model["Url"];
}
    <p>&nbsp;</p>
    <p>The following video coaching session has been cancelled:</p>
    <p>Started At: @data.StartedAt</p>
    <p>Finished At: @data.FinishedAt</p>
    <p><a href="https://rightnow.oztrain.com.au">Open <em>right.<strong>now.</strong></em></a></p>
