<div class="content-heading yourcoach-bg">
    <div class="container">
        <h1 class="heading"><span class="icon icon-person"></span>&nbsp;{{vm.title}}</h1>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div class="clearfix sub-header">
            <h2 class="content-sub-heading pull-left">
                <a ui-sref="program({programId: vm.data.Id})"><span class="icon icon-chevron-left"></span>&nbsp;Back to Dashboard</a>
            </h2>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-sm-5">
                    <div class="card">
                        <div class="card-main">
                            <div class="user-list-item">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-person"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span>{{ vm.data.Coach.FirstName }} {{ vm.data.Coach.LastName }}</span>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="user-list-item">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-phone"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span>{{ vm.data.Coach.Phone }}</span>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="user-list-item">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-email"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span><a href="mailto:{{ vm.data.Coach.Email }}">{{ vm.data.Coach.Email }}</a></span>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="user-list-item" ng-show="vm.authData.isCoach">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-quick-contacts-mail"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span>Position: {position here} </span>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="user-list-item" ng-show="vm.authData.isCoach">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-home"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span>Company: {company here} </span>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="user-list-item" ng-show="!vm.authData.isCoach">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-receipt"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span><a href="#" class="" target="_blank">Download CV<span class="icon icon-chevron-right"></span></a></span>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="user-list-item">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-dvr"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span><a href="#" class="" target="_blank">LinkedIn profile<span class="icon icon-chevron-right"></span></a></span>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="user-list-item">
                                
                                    <div class="clearfix">
                                        <div class="pull-left tile-side">
                                            <div class="avatar avatar-blue avatar-sm">
                                                <span class="icon icon-message"></span>
                                            </div>
                                        </div>
                                        <div class="tile-inner">
                                            <span>Send an email message to your coach</span>
                                            <form class="form-horizontal" role="form">
                                                <textarea class="form-control margin-top" ng-model="vm.email"></textarea>
                                            </form>
                                            <div class="pull-right margin-top">
                                                <button data-ng-click="vm.sendEmail()" class="btn btn-blue waves-button waves-effect waves-light">Send<span class="icon icon-chevron-right"></span></button>
                                            </div>
                                        </div>
                                    </div>
                               
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="card" ng-show="!vm.authData.isCoach">
                        <div class="card-main">
                            <div class="card-inner">
                                <h3 class="content-section-heading">About {{ vm.data.Coach.FirstName }}</h3>
                                    <div class="content-text-area" ng-bind-html="vm.data.Coach.CoachingExperience"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
